@model IEnumerable<SinekliBakkal.Entity.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Ürün Listeleme</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Category Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>@product.Category.Name</td>
                <td>
                    <a href="/productEdit/@product.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/productDelete/@product.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


